@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.light {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

/* Smooth transition for theme toggle */
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

* {
  cursor: none !important;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}